body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #eef2f7;
    text-align: center;
}

header {
    background: #4e73df;
    padding: 50px 20px;
    color: white;
}

.typing {
    font-size: 32px;
    font-weight: bold;
    animation: typing 3s steps(30) infinite alternate;
}

@keyframes typing {
    from { width: 0; opacity: 0.3; }
    to { width: 100%; opacity: 1; }
}

/* PROFILE */
.profile-section {
    padding: 40px 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #4e73df;
    object-fit: cover;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

.logo-container {
    margin-top: 20px;
}

.logo {
    width: 70px;
    margin: 0 10px;
}

.biodata {
    background: white;
    padding: 30px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

table {
    margin: auto;
    text-align: left;
}

td {
    padding: 5px 10px;
}

.projects {
    padding: 40px 20px;
}

.project-card {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    border-left: 6px solid #4e73df;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.project-img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.4s, filter 0.4s;
    filter: brightness(85%);
}

.project-img:hover {
    transform: scale(1.05);
    filter: brightness(100%);
}

.btn {
    display: inline-block;
    margin: 30px 0;
    background: #4e73df;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.reveal {
    opacity: 0;
    transform: translateY(60px);
    animation: scroll-reveal linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes scroll-reveal {
    from { opacity: 0; transform: translateY(60px); }
    to { opacity: 1; transform: translateY(0); }
}
